$shadow-button: 0px 1px 5px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-button-purple: 0px 2px 3px 0px rgba(53, 39, 144, 0.18),
  0px 4px 12px 0px rgba(53, 39, 144, 0.12), 0px 4px 8px 0px rgba(155, 145, 225, 0.2);
$shadow-paper: 0px 0px 14px rgba(0, 0, 0, 0.25);
$shadow-paper-header: 0px -10px 14px rgba(0, 0, 0, 0.25);
$shadow-footer: 0px -4px 8px rgba(0, 0, 0, 0.25);
